.wjmm {
    color: rgb(255, 145, 0);
    font-family: "楷体";
    float: right;
    margin: 0 auto;
}

.sj {
    float: right;
    margin-right: 20px;
}

span {
    color: brown;
    text-align: center;
    display: flex;
    font-family: "楷体";
}

div {
    height: 320px;
    width: 430px;
    border: 2px solid red;
}

input {
    width: 300px;
    height: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

.wrapper {
    display: grid;
    /*  声明了三列，宽度分别为 200px 100px 200px */
    grid-template-columns: 200px 100px 200px;
    grid-gap: 5px;
    /*  声明了两行，行高分别为 50px 50px  */
    grid-template-rows: 50px 50px;
}